<div id="<%= dom_id interaction %>">
  <p>
    <strong>Contact:</strong>
    <%= interaction.contact_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= interaction.company_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= interaction.category %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= interaction.note %>
  </p>

  <p>
    <strong>Follow up date:</strong>
    <%= interaction.follow_up_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= interaction.status %>
  </p>

</div>
