<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Contacts" %>

<div class="page-header">
  <div class="page-header-content">
    <h1 class="page-title">Contacts</h1>
    <div class="page-actions">
      <%= link_to "+", new_contact_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div id="contacts">
  <table>
    <thead>
      <tr>
        <th><%= sortable_link :name %></th>
        <th><%= sortable_link :title %></th>
        <th><%= sortable_link :email %></th>
        <th><%= sortable_link :phone %></th>
        <th><%= sortable_link :company %></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <%= render contact %>
      <% end %>
    </tbody>
  </table>
</div>
