<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= company.industry %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= company.tech_stack %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= company.website %>
  </p>

</div>
