<tr id="<%= dom_id company %>" class="clickable-row" data-href="<%= company_path(company) %>">
  <td><%= company.name %></td>
  <td><%= company.industry %></td>
  <td><%= company.location %></td>
  <td><%= company.website %></td>
  <td><%= company.linkedin %></td>
  <td>
    <% tech_stacks = company.opportunities.filter_map(&:tech_stack).uniq.join(", ") %>
    <%= tech_stacks.present? ? tech_stacks : "N/A" %>
  </td>
</tr>
