<tr id="<%= dom_id company %>" class="clickable-row" data-href="<%= company_path(company) %>">
  <td><%= company.name %></td>
  <td><%= company.industry %></td>
  <td><%= company.location %></td>
  <td><%= company.website %></td>
</tr>
