<p style="color: green"><%= notice %></p>

<% content_for :title, "Companies" %>

<h1>Companies</h1>

<div id="companies">
  <table>
    <thead>
      <tr>
        <th><%= sortable_link :name %></th>
        <th><%= sortable_link :industry %></th>
        <th><%= sortable_link :location %></th>
        <th><%= sortable_link :website %></th>
        <th>Tech Stack</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
      <%= render company %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New company", new_company_path %>
