<p style="color: green"><%= notice %></p>

<%= render "company_details", company: @company %>

<div style="margin-top: 2rem;">
  <%= link_to "Edit this company", edit_company_path(@company), class: "btn btn-primary" %> |
  <%= link_to "Back to companies", companies_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this company", @company, method: :delete, class: "btn btn-danger",
      data: { confirm: "Are you sure?" } %>
</div>
