<tr id="<%= dom_id opportunity %>" class="clickable-row" data-href="<%= opportunity_path(opportunity) %>">
  <td><%= opportunity.company.name if opportunity.company %></td>
  <td><%= opportunity.position_title %></td>
  <td><%= opportunity.application_date %></td>
  <td><%= opportunity.status %></td>
  <td><%= opportunity.source&.humanize %></td>
  <td><%= opportunity.tech_stack %></td>
  <td><%= opportunity.salary_range %></td>
  <td><%= opportunity.chatgpt_match %></td>
  <td><%= opportunity.jobright_match %></td>
  <td><%= opportunity.linkedin_match %></td>
</tr>
