<div id="<%= dom_id opportunity %>">
  <p>
    <strong>Company:</strong>
    <%= opportunity.company_id %>
  </p>

  <p>
    <strong>Position title:</strong>
    <%= opportunity.position_title %>
  </p>

  <p>
    <strong>Application date:</strong>
    <%= opportunity.application_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= opportunity.status %>
  </p>
  <p>
    <strong>Remote:</strong>
    <%= opportunity.remote ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= opportunity.tech_stack %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= opportunity.source %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= opportunity.notes %>
  </p>
</div>
