<p style="color: green"><%= notice %></p>

<% content_for :title, "Opportunities" %>

<h1>Opportunities</h1>

<div id="opportunities">
  <table>
    <thead>
      <tr>
        <th><%= sortable_link :company %></th>
        <th><%= sortable_link :position_title, "Position" %></th>
        <th><%= sortable_link :application_date, "Application Date" %></th>
        <th><%= sortable_link :status %></th>
        <th><%= sortable_link :remote %></th>
        <th><%= sortable_link :tech_stack, "Tech Stack" %></th>
      </tr>
    </thead>
    <tbody>
      <% @opportunities.each do |opportunity| %>
      <%= render opportunity %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New opportunity", new_opportunity_path %>
