<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<%= render "opportunity_details", opportunity: @opportunity %>
<div class="form-actions">
  <%= link_to "Edit this opportunity", edit_opportunity_path(@opportunity), class: "btn btn-primary" %>
  <%= link_to "Back to opportunities", opportunities_path, class: "btn btn-secondary" %>
  <%= button_to "Destroy this opportunity", @opportunity, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
</div>

